In [18]:
# https://www.youtube.com/watch?v=e60ItwlZTKM
# Python: Pandas Tutorial | Intro to DataFrames


import numpy as np
import pandas as pd

In [19]:
def header(msg):
    print('-' * 50)
    print('[' + msg + ']')

In [31]:

# 1. load hard-coded data into a dataframe
header("1. load hard-coded data into a df")
df = pd.DataFrame(
    [['Jan', 58, 42, 74, 22, 2.95],
    ['Feb', 61, 45, 78, 26, 3.02],
    ['Mar', 65, 48, 84, 25, 2.34]],
    index = [0, 1, 2],
    columns = ['month', 'avg_high', 'avg_low', 'record_high', 'record_low', 'avg_precipitation'])

print(df)

--------------------------------------------------
[1. load hard-coded data into a df]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34

In [21]:
# 2. read text file into a dataframe
header("2. read text file into a df")
filename = 'Fremont_weather.txt'
df = pd.read_csv(filename)
print(df)

--------------------------------------------------
[2. read text file into a df]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0  Jan        58       42           74        22 ...
1  Feb        61       45           78        26 ...
2  Mar        65       48           84        25 ...

In [22]:
# 3. print first 5 or last 3 rows of df
header("3. df.head()")
print(df.head())
header("3. df.tail(2)")
print(df.tail(2))

--------------------------------------------------
[3. df.head()]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0  Jan        58       42           74        22 ...
1  Feb        61       45           78        26 ...
2  Mar        65       48           84        25 ...
--------------------------------------------------
[3. df.tail(2)]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
1  Feb        61       45           78        26 ...
2  Mar        65       48           84        25 ...

In [23]:
# 4. get data types, index, columns, values
header("4. df.dtypes")
print(df.dtypes)

--------------------------------------------------
[4. df.dtypes]
month  avg_high  avg_low  record_high  record_low  avg_precipitation    object
dtype: object

In [24]:
header("4. df.index")
print(df.index)

--------------------------------------------------
[4. df.index]
RangeIndex(start=0, stop=3, step=1)

In [25]:
header("4. df.columns")
print(df.columns)

--------------------------------------------------
[4. df.columns]
Index(['month  avg_high  avg_low  record_high  record_low  avg_precipitation'], dtype='object')

In [26]:
header("4. df.values")
print(df.values)

--------------------------------------------------
[4. df.values]
[['Jan        58       42           74        22            2.95']
 ['Feb        61       45           78        26            3.02']
 ['Mar        65       48           84        25            2.34']]

In [32]:
# 5. statistical index for the df
df.describe()

        avg_high  avg_low  record_high  record_low  avg_precipitation
count   3.000000      3.0     3.000000    3.000000           3.000000
mean   61.333333     45.0    78.666667   24.333333           2.770000
std     3.511885      3.0     5.033223    2.081666           0.374032
min    58.000000     42.0    74.000000   22.000000           2.340000
25%    59.500000     43.5    76.000000   23.500000           2.645000
50%    61.000000     45.0    78.000000   25.000000           2.950000
75%    63.000000     46.5    81.000000   25.500000           2.985000
max    65.000000     48.0    84.000000   26.000000           3.020000

In [ ]:
# the following are based on running #1 dataFrame

In [33]:
# 6. sort records by any column
header("6. df.sort_values('record_high', ascending = False)")
print(df.sort_values('record_high', ascending = False))

--------------------------------------------------
[6. df.sort_values('record_high', ascending = False)]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
2   Mar        65       48           84          25               2.34
1   Feb        61       45           78          26               3.02
0   Jan        58       42           74          22               2.95

In [34]:
# 7. slicing records
header("7. slicing -- df.avg_low")
print(df.avg_low)     # index with single column

--------------------------------------------------
[7. slicing -- df.avg_low]
0    42
1    45
2    48
Name: avg_low, dtype: int64

In [35]:
header("7. slicing - df['avg_low']")
print(df['avg_low'])

--------------------------------------------------
[7. slicing - df['avg_low']]
0    42
1    45
2    48
Name: avg_low, dtype: int64

In [36]:
header("7. slicing -- df[0:2]")     # index with multiple columns
print(df[0:2])                      # rows 0 to 1

--------------------------------------------------
[7. slicing -- df[2:4]]
  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02

In [37]:
header("7. slicing -- df[['avg_low', 'avg_high']]")
print(df[['avg_low', 'avg_high']])

--------------------------------------------------
[7. slicing -- df[['avg_low', 'avg_high']]]
   avg_low  avg_high
0       42        58
1       45        61
2       48        65

In [38]:
header("7. slicing -- df.loc[:, ['avg_low', 'avg_high']]")
print(df.loc[:, ['avg_low', 'avg_high']])   # multiple columns:  df.loc[from_row:to_row, ['column1', 'column2']]                                                                      ewr5t3hg4 sad32qxxxxxxxxxxx

   avg_low  avg_high
0       42        58
1       45        61
2       48        65

In [43]:
header("7. slicing -- df.loc[1,['avg_precipitation']]")
print(df.loc[1,['avg_precipitation']])

--------------------------------------------------
[7. slicing -- df.loc[1,['avg_precipitation']]]
avg_precipitation    3.02
Name: 1, dtype: object

In [46]:
header("7. slicing -- df.iloc[0:2, [0,3]]")
print(df.iloc[0:2, [0,3]])      # index location can receive range or list of indices

--------------------------------------------------
[7. slicing -- df.iloc[0:2, [0,3]]]
  month  record_high
0   Jan           74
1   Feb           78

In [47]:
# 8. filtering
print(df[df.avg_precipitation > 1.0])    # filter on column values

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
1   Feb        61       45           78          26               3.02
2   Mar        65       48           84          25               2.34

In [49]:
print(df[df['month'].isin(['Jun','Jan','Mar'])])

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan        58       42           74          22               2.95
2   Mar        65       48           84          25               2.34

In [50]:
# 9. assignment -- very similar to slicing

In [61]:
df.loc[9, ['avg_precipitation']] = 101.3
df.iloc[0:4]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan      58.0     42.0         74.0        22.0               2.95
1   Feb      61.0     45.0         78.0        26.0               3.02
2   Mar      65.0     48.0         84.0        25.0               2.34
9   NaN       NaN      NaN          NaN         NaN             101.30

In [64]:
df.loc[9,['avg_precipitation']] = np.nan
df.iloc[0:4]

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan      58.0     42.0         74.0        22.0               2.95
1   Feb      61.0     45.0         78.0        26.0               3.02
2   Mar      65.0     48.0         84.0        25.0               2.34
9   NaN       NaN      NaN          NaN         NaN                NaN

In [74]:
df.loc[:,'avg_low'] = np.array([5] * len(df))
df

  month  avg_high  avg_low  record_high  record_low  avg_precipitation
0   Jan      58.0        5         74.0        22.0               2.95
1   Feb      61.0        5         78.0        26.0               3.02
2   Mar      65.0        5         84.0        25.0               2.34
9   NaN       NaN        5          NaN         NaN                NaN

In [75]:
np.array([1,2,])

array([1, 2])

In [80]:
df.loc[:, 'avg_low'] = np.array([5,51,5,5])
df

,month,avg_high,avg_low,record_high,record_low,avg_precipitation,avg_day
0,Jan,58.0,5,74.0,22.0,2.95,31.5
1,Feb,61.0,51,78.0,26.0,3.02,33.0
2,Mar,65.0,5,84.0,25.0,2.34,35.0
9,NaN,NaN,5,NaN,NaN,NaN,NaN

In [81]:
df['avg_day'] = (df.avg_low + df.avg_high) / 2
df.head()

,month,avg_high,avg_low,record_high,record_low,avg_precipitation,avg_day
0,Jan,58.0,5,74.0,22.0,2.95,31.5
1,Feb,61.0,51,78.0,26.0,3.02,56.0
2,Mar,65.0,5,84.0,25.0,2.34,35.0
9,NaN,NaN,5,NaN,NaN,NaN,NaN

In [82]:
# 10. renaming columns
df.rename(columns = {'avg_precipitation':'avg_rain'}, inplace = True)   # rename 1 column
df

  month  avg_high  avg_low  record_high  record_low  avg_rain  avg_day
0   Jan      58.0        5         74.0        22.0      2.95     31.5
1   Feb      61.0       51         78.0        26.0      3.02     56.0
2   Mar      65.0        5         84.0        25.0      2.34     35.0
9   NaN       NaN        5          NaN         NaN       NaN      NaN

In [85]:
df = df.rename(columns = {'avg_rain':'avg_rain2'})    # equivalent to above
df

  month  avg_high  avg_low  record_high  record_low  avg_rain2  avg_day
0   Jan      58.0        5         74.0        22.0       2.95     31.5
1   Feb      61.0       51         78.0        26.0       3.02     56.0
2   Mar      65.0        5         84.0        25.0       2.34     35.0
9   NaN       NaN        5          NaN         NaN        NaN      NaN

In [88]:
df.columns = ['month', 'av_hi', 'av_lo', 'rec_hi', 'rec_lo', 'av_rain', 'av_day']
df

  month  av_hi  av_lo  rec_hi  rec_lo  av_rain  av_day
0   Jan   58.0      5    74.0    22.0     2.95    31.5
1   Feb   61.0     51    78.0    26.0     3.02    56.0
2   Mar   65.0      5    84.0    25.0     2.34    35.0
9   NaN    NaN      5     NaN     NaN      NaN     NaN

In [89]:
# 11. iterate a df

In [90]:
for index, row in df.iterrows():
    print (index, row["month"], row["av_hi"])

0 Jan 58.0
1 Feb 61.0
2 Mar 65.0
9 nan nan

In [91]:
# 12. write to csv file

In [92]:
df.to_csv('foo.csv')